[
    {
        "target_name": "wall_target" ,
        "name": "worm200_head" ,
        "setters":
        {
            "cursor_id": "worm200_head" ,
            "actor_id": "worm200_head"
        }
    }
]
