[
    {
        "target_name": "wall_target" ,
        "name": "shopkeeper" ,
        "setters":
        {
            "cursor_id": "shopkeeper" ,
            "actor_id": "shopkeeper"
        }
    }
]
