/bin/
/build*/
/local*/
/src/*_all.cpp

**.pdb
**.idb
CMakeLists.txt.user
.buildrc.cmake
**.dll
**.zip
/RUN2/
/_local/
/back/
/back2/
log**.txt
**.exe
/save/
/temp/
/textures_save
/rogue2x2wallstone/
/pickups/
a**.txt
