[
    {
        "message_name":"orientation",
        "name": "grenade_projectile",
        "server":
        {
            "unique_frequency":0.3,
            "mandatory_frequency":2.0
        }
    },
    {
        "message_name":"heading",
        "name": "grenade_projectile",
        "server":
        {
            "unique_frequency":0.01,
            "mandatory_frequency":1.0
        }
    },
    {
        "message_name":"move",
        "name": "grenade_projectile",
        "server":
        {
            "unique_frequency":0.01,
            "mandatory_frequency":0.3
        }
    },
    {
        "message_name":"position",
        "name": "grenade_projectile",
        "server":
        {
            "unique_frequency":0.01,
            "mandatory_frequency":0.3
        }
    }    
]
