[
    {
        "target_name":"wall_target",
        "name":"desk100",
        "setters":
        {
            "cursor_id": "desk100",
            "actor_id": "desk100"
        },
        "type":"target_desc"
    }
]
